html {
    background: url(img/bluefield.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'monda', sans-serif;
    height: 100vh;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#house-num {
    background: rgba(255, 255, 255, .7);
    color: rgba(0, 0, 0, 0.8);
    padding: 7px 10px;
    font-size: 8em;
    line-height: .8em;
    width: 350px;
    margin-top: 40px;
    margin-bottom: 0px;
}

#call {
    color: rgb(255, 255, 255);
    font-size: 2em;
    background: rgba(27, 27, 27, 0.7);
    width: 350px;
    margin-top: 16px;
}

h1 {
    background: rgba(255, 255, 255, .7);
    color: rgba(0, 0, 0, 0.8);
    padding: 7px 10px;
    line-height: .8em;
    width: 350px;
    font-size: 3.5em;
    margin-top: 0px;
    margin-bottom: 10px;
}

h2 {
    background: rgba(0, 67, 137, 0.9);
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    width: 350px;
    padding: 10px 10px;
    margin-top: 10px;
}

button {
    text-align: left;
    padding: 0 16px;
    border-width: 0px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    height: 50px;
    width: 300px;
    background-color: rgb(23, 170, 48);
    margin-bottom: 16px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

button:hover {
    top: -2px;
    box-shadow: 0px 3px rgba(44, 44, 44, 0.8);
}

.fas,
.fa-solid {
    margin-right: 8px;
}

@media only screen and (min-width: 600px) {
    .main {
        align-items: flex-start;
        padding: 40px 40px;
    }
    button {
        font-size: 1.5em;
    }
    h1 {
        color: rgba(0, 0, 0, 0.8);
        font-size: 8em;
        line-height: .8em;
        margin-top: 1vh;
        margin-bottom: 0px;
        letter-spacing: 20px;
        width: auto;
    }
    #call {
        position: absolute;
        bottom: 10px;
        left: 50px;
    }
}